<div class="footer">
    <div class="footer-in">
        <div class="footer-c1">
            <a href="#" target="_blank" class="logo-5hiwai"><img src="{str_replace('images/', 'img/', tplAssetsDir(IMG_PATH, 'hw'))}logo-5hiwan-1.png" alt="" width="97" height="59" class="png"/></a>
        </div>
        <div class="footer-c2">
            <div class="links">
                <a href="#" target="_blank">关于游久</a><span class="sep">|</span>
                <a href="#" target="_blank">关于游久</a><span class="sep">|</span>
                <a href="#" target="_blank">关于游久</a><span class="sep">|</span>
                <a href="#" target="_blank">关于游久</a><span class="sep">|</span>
                <a href="#" target="_blank">关于游久</a><span class="sep">|</span>
                <a href="#" target="_blank">关于游久</a><span class="sep">|</span>
                <a href="#" target="_blank">关于游久</a><span class="sep">|</span>
                <a href="#" target="_blank">关于游久</a><span class="sep">|</span>
                <a href="#" target="_blank">关于游久</a>
            </div>
            <p class="copyright">Copyright © 2004 - 2015 UUU9.Com Co. All Rights Reserved 北京游龙腾信息技术有限公司</p>
        </div>
    </div>
</div><!--end the footer-->