<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
    <link href="{tplAssetsDir(CSS_PATH, 'hw')}reset-and-utils-1.0.css" rel="stylesheet" type="text/css" />
    <link href="{tplAssetsDir(CSS_PATH, 'hw')}style.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="{tplAssetsDir(JS_PATH, 'hw')}jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="{tplAssetsDir(JS_PATH, 'hw')}tabs.all.min.js"></script>
    <!--[if IE 6]>
    <script type="text/javascript" src="{tplAssetsDir(JS_PATH, 'hw')}ddpng-0.0.8a.min.js"></script>
    <script type="text/javascript src="{tplAssetsDir(JS_PATH, 'hw')}ie6.js"></script>
<![endif]-->
</head>

<body>
<div class="wrapper">
    {template "content","inc-header"}