<!-- 独家推荐 -->
{template "content","inc-exclusive-recmd"}
<!-- ~end 独家推荐 -->
<div class="comm-pn2 pn-side-video">
    <div class="comm-pn2-hd">
        <i class="ico-adorn"></i>
        <h2 class="tit">热门视频</h2>
        <span class="more"><a href="/recommend-19.html" target="_blank">更多<i class="ico-plus"></i></a></span>
    </div>
    <div class="comm-pn2-bd">
        {pc:content action="position" posid="19" order="listorder DESC" num="4"}
        <ul class="gb-list2 comm-plist comm-plist-ex4 col2">
            {loop $data $r}
            <li class="gb-list2-item">
                <a href="{$r[url]}" class="gb-list2-con" target="_blank">
						<span class="gb-list2-c1">
							<img alt="{$r[title]}" src="{$r[thumb]}" width="130" height="85" class="avatar" />
						</span>
                    <span class="gb-list2-c2"><span class="txt">{$r[title]}</span></span>
                </a>
            </li>
            {/loop}
        </ul>
    </div>
</div>
<div class="comm-pn2 pn-side-news">
    <div class="comm-pn2-hd">
        <i class="ico-adorn"></i>
        <h2 class="tit">热门资讯</h2>
        <span class="more"><a href="/recommend-20.html" target="_blank">更多<i class="ico-plus"></i></a></span>
    </div>
    <div class="comm-pn2-bd">
        {pc:content action="position" posid="20" order="listorder DESC" num="3"}
        <ul class="gb-list3 comm-ptlist1">
            {loop $data $r}
            <li class="gb-list3-item">
                <div class="gb-list3-c1"><a target="_blank" href="{$r[url]}"><img alt="{$r[title]}" src="{$r[thumb]}" width="130" height="85" class="avatar" /></a></div>
                <div class="gb-list3-c2">
                    <h3 class="tit"><a target="_blank" href="{$r[url]}">{$r[title]}</a></h3>
                </div>
            </li>
            {/loop}
        </ul>
        {/pc}
    </div>
</div>
<div class="comm-pn2 pn-side-pic">
    <div class="comm-pn2-hd">
        <i class="ico-adorn"></i>
        <h2 class="tit">火热美图</h2>
        <span class="more"><a href="/recommend-21.html" target="_blank">更多<i class="ico-plus"></i></a></span>
    </div>
    <div class="comm-pn2-bd">
        {pc:content action="position" posid="21" order="listorder DESC" num="4"}
        <ul class="gb-list2 comm-plist comm-plist-ex4 col2">
            {loop $data $r}
            <li class="gb-list2-item">
                <a href="{$r[url]}" class="gb-list2-con" target="_blank">
						<span class="gb-list2-c1">
							<img alt="{$r[title]}" src="{$r[thumb]}" width="130" height="85" class="avatar" />
						</span>
                    <span class="gb-list2-c2"><span class="txt">{$r[title]}</span></span>
                </a>
            </li>
            {/loop}
        </ul>
        {/pc}
    </div>
</div>