<div class="comm-pn2 pn-side-recomm">
    <div class="comm-pn2-hd">
        <i class="ico-adorn"></i>
        <h2 class="tit">独家推荐</h2>
        <span class="more"><a href="#" target="_blank">更多<i class="ico-plus"></i></a></span>
    </div>
    <div class="comm-pn2-bd">
        <ul class="gb-list2 comm-plist comm-plist-ex3">
            <li class="gb-list2-item">
                <a href="#" class="gb-list2-con" target="_blank">
						<span class="gb-list2-c1">
							<img alt="" src="img/img-270-150.jpg" width="270" height="150" class="avatar" />
						</span>
                    <span class="gb-list2-c3"><span class="txt">CF百城联赛外卡赛月结</span><b class="mask"></b></span>
                </a>
            </li>
            <li class="gb-list2-item">
                <a href="#" class="gb-list2-con" target="_blank">
						<span class="gb-list2-c1">
							<img alt="" src="img/img-270-150.jpg" width="270" height="150" class="avatar" />
						</span>
                    <span class="gb-list2-c3"><span class="txt">CF百城联赛外卡赛月结</span><b class="mask"></b></span>
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="comm-pn2 pn-side-video">
    <div class="comm-pn2-hd">
        <i class="ico-adorn"></i>
        <h2 class="tit">热门视频</h2>
        <span class="more"><a href="#" target="_blank">更多<i class="ico-plus"></i></a></span>
    </div>
    <div class="comm-pn2-bd">
        <ul class="gb-list2 comm-plist comm-plist-ex4 col2">
            <li class="gb-list2-item">
                <a href="#" class="gb-list2-con" target="_blank">
						<span class="gb-list2-c1">
							<img alt="" src="img/img-130-85.jpg" width="130" height="85" class="avatar" />
						</span>
                    <span class="gb-list2-c2"><span class="txt">公开赛暨CFS中国</span></span>
                </a>
            </li>
            <li class="gb-list2-item">
                <a href="#" class="gb-list2-con" target="_blank">
						<span class="gb-list2-c1">
							<img alt="" src="img/img-130-85.jpg" width="130" height="85" class="avatar" />
						</span>
                    <span class="gb-list2-c2"><span class="txt">公开赛暨CFS中国</span></span>
                </a>
            </li>
            <li class="gb-list2-item">
                <a href="#" class="gb-list2-con" target="_blank">
						<span class="gb-list2-c1">
							<img alt="" src="img/img-130-85.jpg" width="130" height="85" class="avatar" />
						</span>
                    <span class="gb-list2-c2"><span class="txt">公开赛暨CFS中国</span></span>
                </a>
            </li>
            <li class="gb-list2-item">
                <a href="#" class="gb-list2-con" target="_blank">
						<span class="gb-list2-c1">
							<img alt="" src="img/img-130-85.jpg" width="130" height="85" class="avatar" />
						</span>
                    <span class="gb-list2-c2"><span class="txt">公开赛暨CFS中国</span></span>
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="comm-pn2 pn-side-news">
    <div class="comm-pn2-hd">
        <i class="ico-adorn"></i>
        <h2 class="tit">热门资讯</h2>
        <span class="more"><a href="#" target="_blank">更多<i class="ico-plus"></i></a></span>
    </div>
    <div class="comm-pn2-bd">
        <ul class="gb-list3 comm-ptlist1">
            <li class="gb-list3-item">
                <div class="gb-list3-c1"><a target="_blank" href="#"><img alt="" src="img/img-130-85.jpg" width="130" height="85" class="avatar" /></a></div>
                <div class="gb-list3-c2">
                    <h3 class="tit"><a target="_blank" href="#">详解穿越火线投掷道具的妙用及使用</a></h3>
                </div>
            </li>
            <li class="gb-list3-item">
                <div class="gb-list3-c1"><a target="_blank" href="#"><img alt="" src="img/img-130-85.jpg" width="130" height="85" class="avatar" /></a></div>
                <div class="gb-list3-c2">
                    <h3 class="tit"><a target="_blank" href="#">详解穿越火线投掷道具的妙用及使用</a></h3>
                </div>
            </li>
            <li class="gb-list3-item">
                <div class="gb-list3-c1"><a target="_blank" href="#"><img alt="" src="img/img-130-85.jpg" width="130" height="85" class="avatar" /></a></div>
                <div class="gb-list3-c2">
                    <h3 class="tit"><a target="_blank" href="#">详解穿越火线投掷道具的妙用及使用</a></h3>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="comm-pn2 pn-side-pic">
    <div class="comm-pn2-hd">
        <i class="ico-adorn"></i>
        <h2 class="tit">火热美图</h2>
        <span class="more"><a href="#" target="_blank">更多<i class="ico-plus"></i></a></span>
    </div>
    <div class="comm-pn2-bd">
        <ul class="gb-list2 comm-plist comm-plist-ex4 col2">
            <li class="gb-list2-item">
                <a href="#" class="gb-list2-con" target="_blank">
						<span class="gb-list2-c1">
							<img alt="" src="img/img-130-85.jpg" width="130" height="85" class="avatar" />
						</span>
                    <span class="gb-list2-c2"><span class="txt">公开赛暨CFS中国</span></span>
                </a>
            </li>
            <li class="gb-list2-item">
                <a href="#" class="gb-list2-con" target="_blank">
						<span class="gb-list2-c1">
							<img alt="" src="img/img-130-85.jpg" width="130" height="85" class="avatar" />
						</span>
                    <span class="gb-list2-c2"><span class="txt">公开赛暨CFS中国</span></span>
                </a>
            </li>
            <li class="gb-list2-item">
                <a href="#" class="gb-list2-con" target="_blank">
						<span class="gb-list2-c1">
							<img alt="" src="img/img-130-85.jpg" width="130" height="85" class="avatar" />
						</span>
                    <span class="gb-list2-c2"><span class="txt">公开赛暨CFS中国</span></span>
                </a>
            </li>
            <li class="gb-list2-item">
                <a href="#" class="gb-list2-con" target="_blank">
						<span class="gb-list2-c1">
							<img alt="" src="img/img-130-85.jpg" width="130" height="85" class="avatar" />
						</span>
                    <span class="gb-list2-c2"><span class="txt">公开赛暨CFS中国</span></span>
                </a>
            </li>
        </ul>
    </div>
</div>