{template "content","header"}
<div class="content">
<div class="first-screen clearfix">
    <div class="first-screen-c1">
        <div class="pn-focus-news">
            <!-- 首页头条推荐碎片 -->
            {pc:block pos="index_top_line"}{/pc}
        </div>
        {pc:content action="position" posid="2" order="listorder DESC" num="6"}
        <ul class="comm-tlist">
            {loop $data $r}
            <li>
                <span class="date">{date('m-d', $r[inputtime])}</span>
                <span class="tit"><a title="" target="_blank" href="#">{$r[title]}</a></span>
            </li>
            {/loop}
        </ul>
        {/pc}
        <div class="comm-more"><a href="#" target="_blank">查看更多资讯</a></div>
    </div>
    <div class="first-screen-c2">
        <div class="pn-focus">
            <!-- 首页大眼睛碎片 -->
            {pc:block pos="index_big_slider"}
        </div>
    </div>
</div><!--end the first-screen-->
<div class="area areal">
    <div class="comm-pn pn-video js-tab">
        <div class="comm-pn-hd">
            <i class="ico-tit ico-tit-video"></i><h2 class="tit">视频</h2><h3 class="tit-sub">Video</h3>
            <ul class="gb-tab comm-tab">
                <li class="gb-tab-item"><a href="javascript:;" class="gb-tab-c">高玩视频</a></li>
                <li class="gb-tab-item"><a href="javascript:;" class="gb-tab-c">教学视频</a></li>
                <li class="gb-tab-item"><a href="javascript:;" class="gb-tab-c">官方视频</a></li>
                <li class="gb-tab-item"><a href="javascript:;" class="gb-tab-c">赛事视频</a></li>
            </ul>
            <span class="more"><a href="#" target="_blank">更多<i class="ico-plus"></i></a></span>
        </div>
        <div class="comm-pn-bd gb-tab-pn">
            <div class="pn-video-con">
                <div class="pn-video-c1">
                    <ul class="gb-list2 comm-plist col3">
                        <li class="gb-list2-item">
                            <a href="#" class="gb-list2-con" target="_blank">
											<span class="gb-list2-c1">
												<img alt="" src="{str_replace('images/', 'img/', tplAssetsDir(IMG_PATH, 'hw'))}img-227-170.jpg" width="227" height="170" class="avatar" />
												<b class="mask"></b><i class="ico-video"><i class="ico-in"></i></i>
											</span>
                                <span class="gb-list2-c2"><span class="txt">凉水解说：救世主神级游击抢肉</span></span>
                            </a>
                        </li>
                        <li class="gb-list2-item">
                            <a href="#" class="gb-list2-con" target="_blank">
											<span class="gb-list2-c1">
												<img alt="" src="{str_replace('images/', 'img/', tplAssetsDir(IMG_PATH, 'hw'))}img-227-170.jpg" width="227" height="170" class="avatar" />
												<b class="mask"></b><i class="ico-video"><i class="ico-in"></i></i>
											</span>
                                <span class="gb-list2-c2"><span class="txt">凉水解说：救世主神级游击抢肉</span></span>
                            </a>
                        </li>
                        <li class="gb-list2-item">
                            <a href="#" class="gb-list2-con" target="_blank">
											<span class="gb-list2-c1">
												<img alt="" src="{str_replace('images/', 'img/', tplAssetsDir(IMG_PATH, 'hw'))}img-227-170.jpg" width="227" height="170" class="avatar" />
												<b class="mask"></b><i class="ico-video"><i class="ico-in"></i></i>
											</span>
                                <span class="gb-list2-c2"><span class="txt">凉水解说：救世主神级游击抢肉</span></span>
                            </a>
                        </li>
                        <li class="gb-list2-item">
                            <a href="#" class="gb-list2-con" target="_blank">
											<span class="gb-list2-c1">
												<img alt="" src="{str_replace('images/', 'img/', tplAssetsDir(IMG_PATH, 'hw'))}img-227-170.jpg" width="227" height="170" class="avatar" />
												<b class="mask"></b><i class="ico-video"><i class="ico-in"></i></i>
											</span>
                                <span class="gb-list2-c2"><span class="txt">凉水解说：救世主神级游击抢肉</span></span>
                            </a>
                        </li>
                        <li class="gb-list2-item">
                            <a href="#" class="gb-list2-con" target="_blank">
											<span class="gb-list2-c1">
												<img alt="" src="{str_replace('images/', 'img/', tplAssetsDir(IMG_PATH, 'hw'))}img-227-170.jpg" width="227" height="170" class="avatar" />
												<b class="mask"></b><i class="ico-video"><i class="ico-in"></i></i>
											</span>
                                <span class="gb-list2-c2"><span class="txt">凉水解说：救世主神级游击抢肉</span></span>
                            </a>
                        </li>
                        <li class="gb-list2-item">
                            <a href="#" class="gb-list2-con" target="_blank">
											<span class="gb-list2-c1">
												<img alt="" src="{str_replace('images/', 'img/', tplAssetsDir(IMG_PATH, 'hw'))}img-227-170.jpg" width="227" height="170" class="avatar" />
												<b class="mask"></b><i class="ico-video"><i class="ico-in"></i></i>
											</span>
                                <span class="gb-list2-c2"><span class="txt">凉水解说：救世主神级游击抢肉</span></span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="pn-video-c2">
                    <div class="comm-pn1">
                        <div class="comm-pn1-hd"><i class="ico-lift"></i><h3 class="tit">本周热门视频</h3></div>
                        <div class="comm-pn1-bd">
                            <ul class="list-rank js-rank">
                                <li class="list-rank-item">
                                    <em></em>
                                    <span class="tit"><a href="#" target="_blank">黏住别想跑 CF2.0生化神器MP5-SS黏住别想跑 CF2.0生化神器MP5-SS</a></span>
                                </li>
                                <li class="list-rank-item">
                                    <em></em>
                                    <span class="tit"><a href="#" target="_blank">黏住别想跑 CF2.0生化神器MP5-SS</a></span>
                                </li>
                                <li class="list-rank-item">
                                    <em></em>
                                    <span class="tit"><a href="#" target="_blank">黏住别想跑 CF2.0生化神器MP5-SS</a></span>
                                </li>
                                <li class="list-rank-item">
                                    <em></em>
                                    <span class="tit"><a href="#" target="_blank">黏住别想跑 CF2.0生化神器MP5-SS</a></span>
                                </li>
                                <li class="list-rank-item">
                                    <em></em>
                                    <span class="tit"><a href="#" target="_blank">黏住别想跑 CF2.0生化神器MP5-SS</a></span>
                                </li>
                                <li class="list-rank-item">
                                    <em></em>
                                    <span class="tit"><a href="#" target="_blank">黏住别想跑 CF2.0生化神器MP5-SS</a></span>
                                </li>
                                <li class="list-rank-item">
                                    <em></em>
                                    <span class="tit"><a href="#" target="_blank">黏住别想跑 CF2.0生化神器MP5-SS</a></span>
                                </li>
                                <li class="list-rank-item">
                                    <em></em>
                                    <span class="tit"><a href="#" target="_blank">黏住别想跑 CF2.0生化神器MP5-SS</a></span>
                                </li>
                                <li class="list-rank-item">
                                    <em></em>
                                    <span class="tit"><a href="#" target="_blank">黏住别想跑 CF2.0生化神器MP5-SS</a></span>
                                </li>
                                <li class="list-rank-item">
                                    <em></em>
                                    <span class="tit"><a href="#" target="_blank">黏住别想跑 CF2.0生化神器MP5-SS</a></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pn-video-con">
                222
            </div>
            <div class="pn-video-con">
                333
            </div>
            <div class="pn-video-con">
                444
            </div>
        </div>
    </div>
</div><!--end the area1-->
<div class="area area2 clearfix">
    <div class="area2-c1">
        <div class="comm-pn pn-news js-tab">
            <div class="comm-pn-hd">
                <i class="ico-tit ico-tit-news"></i><h2 class="tit">新闻</h2><h3 class="tit-sub">News</h3>
                <span class="more"><a href="/list-1-1.html" target="_blank">更多<i class="ico-plus"></i></a></span>
            </div>
            <div class="comm-pn-bd">
                {pc:content action="category" catid="1" num="4" siteid="$siteid" order="listorder ASC"}
                <?php $index = 1; $catIds = array();?>
                <ul class="gb-tab comm-tab comm-tab-ex">
                    {loop $data  $r}
                    <li class="gb-tab-item<?php if($index==1){echo ' gb-tab-item1';$index++;}?>"><a href="javascript:;" class="gb-tab-c">{$r[catname]}</a></li>
                    <?php $catIds[1][] = $r[catid];?>
                    {/loop}
                </ul>
                {/pc}
                <div class="gb-tab-pn">
                {loop $catIds[1] $cid}
                    <div class="pn-news-con">
                        {pc:content action="lists" num="1" catid="$cid" where="recmd=1" order="id DESC"}
                        <ul class="gb-list3 comm-ptlist">
                            {loop $data $r}
                            <li class="gb-list3-item">
                                <div class="gb-list3-c1"><a target="_blank" href="{$r[url]}"><img width="176" height="119" alt="{$r[title]}" src="{$r[thumb]}"></a></div>
                                <div class="gb-list3-c2">
                                    <h3 class="tit"><a target="_blank" href="{$r[url]}">{truncateStr($r[title], 56)}{if myStrlen($r[title])>56}...{/if}</a></h3>
                                    <p class="txt">{truncateStr($r[description], 120)}{if myStrlen($r[description])>120}...{/if}</p>
                                </div>
                            </li>
                            {/loop}
                        </ul>
                        {/pc}
                        {pc:content action="lists" catid="$cid" num="5" where="recmd=0" order="id DESC"}
                        <ul class="comm-tlist">
                            {loop $data $r}
                            <li>
                                <span class="date">{date('m-d', $r[inputtime])}</span>
                                <span class="tit"><a title="{$r[title]}" target="_blank" href="{$r[url]}">{$r[title]}</a></span>
                            </li>
                            {/loop}
                        </ul>
                        {/pc}
                    </div>
                {/loop}
                </div>
            </div>
        </div>
    </div>
    <div class="area2-c2">
        <div class="comm-pn pn-strategy js-tab">
            <div class="comm-pn-hd">
                <i class="ico-tit ico-tit-news1"></i><h2 class="tit">攻略</h2><h3 class="tit-sub">Guides</h3>
                <span class="more"><a href="/list-11-1.html" target="_blank">更多<i class="ico-plus"></i></a></span>
            </div>
            <div class="comm-pn-bd">
                {pc:content action="category" catid="11" num="4" siteid="$siteid" order="listorder ASC"}
                <?php $index = 1; $catIds = array();?>
                <ul class="gb-tab comm-tab comm-tab-ex">
                    {loop $data  $r}
                    <li class="gb-tab-item<?php if($index==1){echo ' gb-tab-item1';$index++;}?>"><a href="javascript:;" class="gb-tab-c">{$r[catname]}</a></li>
                    <?php $catIds[11][] = $r[catid];?>
                    {/loop}
                </ul>
                {/pc}
                <div class="gb-tab-pn">
                    {loop $catIds[11] $cid}
                    <div class="pn-strategy-con">
                        {pc:content action="lists" num="3" catid="$cid" where="recmd=1" order="id DESC"}
                        <ul class="gb-list2 comm-plist comm-plist-ex col3">
                            {loop $data $r}
                            <li class="gb-list2-item">
                                <a href="{$r[url]}" class="gb-list2-con" target="_blank">
												<span class="gb-list2-c1">
													<img alt="{$r[title]}" src="{$r[thumb]}" width="140" height="95" class="avatar" />
												</span>
                                    <span class="gb-list2-c2"><span class="txt">{truncateStr($r[title], 20)}{if myStrlen($r[title])>20}...{/if}</span></span>
                                </a>
                            </li>
                            {/loop}
                        </ul>
                        {/pc}
                        {pc:content action="lists" catid="$cid" num="5" where="recmd=0" order="id DESC"}
                        <ul class="comm-tlist">
                            {loop $data $r}
                            <li>
                                <span class="date">{date('m-d', $r[inputtime])}</span>
                                <span class="tit"><a title="{$r[title]}" target="_blank" href="{$r[url]}">{$r[title]}</a></span>
                            </li>
                            {/loop}
                        </ul>
                        {/pc}
                    </div>
                    {/loop}
                </div>
            </div>
        </div>
    </div>
</div><!--end the area2-->
<div class="area area3">
    <div class="comm-pn">
        <div class="comm-pn-hd">
            <i class="ico-tit ico-tit-star"></i><h2 class="tit">视频红人</h2><h3 class="tit-sub">Star</h3>
            <span class="more"><a href="#" target="_blank">更多<i class="ico-plus"></i></a></span>
        </div>
        <div class="comm-pn-bd">
            <ul class="gb-list2 comm-plist comm-plist-ex1 col5">
                <li class="gb-list2-item">
                    <a href="#" class="gb-list2-con" target="_blank">
                        <b class="adorn"></b>
									<span class="gb-list2-c1">
										<img alt="" src="{str_replace('images/', 'img/', tplAssetsDir(IMG_PATH, 'hw'))}img-162-212.jpg" width="162" height="212" class="avatar" />
										<b class="mask"></b><i class="ico-video"><i class="ico-in"></i></i>
									</span>
                        <span class="gb-list2-c2"><span class="txt">anglebaby</span></span>
                    </a>
                    <div class="gb-list2-detail">
                        <p>新挑战关卡-欺负钢铁泰迪。负钢铁泰迪。</p>
                    </div>
                </li>
                <li class="gb-list2-item">
                    <a href="#" class="gb-list2-con" target="_blank">
                        <b class="adorn"></b>
									<span class="gb-list2-c1">
										<img alt="" src="{str_replace('images/', 'img/', tplAssetsDir(IMG_PATH, 'hw'))}img-162-212.jpg" width="162" height="212" class="avatar" />
										<b class="mask"></b><i class="ico-video"><i class="ico-in"></i></i>
									</span>
                        <span class="gb-list2-c2"><span class="txt">anglebaby</span></span>
                    </a>
                    <div class="gb-list2-detail">
                        <p>新挑战关卡-欺负钢铁泰迪。负钢铁泰迪。</p>
                    </div>
                </li>
                <li class="gb-list2-item">
                    <a href="#" class="gb-list2-con" target="_blank">
                        <b class="adorn"></b>
									<span class="gb-list2-c1">
										<img alt="" src="{str_replace('images/', 'img/', tplAssetsDir(IMG_PATH, 'hw'))}img-162-212.jpg" width="162" height="212" class="avatar" />
										<b class="mask"></b><i class="ico-video"><i class="ico-in"></i></i>
									</span>
                        <span class="gb-list2-c2"><span class="txt">anglebaby</span></span>
                    </a>
                    <div class="gb-list2-detail">
                        <p>新挑战关卡-欺负钢铁泰迪。负钢铁泰迪。</p>
                    </div>
                </li>
                <li class="gb-list2-item">
                    <a href="#" class="gb-list2-con" target="_blank">
                        <b class="adorn"></b>
									<span class="gb-list2-c1">
										<img alt="" src="{str_replace('images/', 'img/', tplAssetsDir(IMG_PATH, 'hw'))}img-162-212.jpg" width="162" height="212" class="avatar" />
										<b class="mask"></b><i class="ico-video"><i class="ico-in"></i></i>
									</span>
                        <span class="gb-list2-c2"><span class="txt">anglebaby</span></span>
                    </a>
                    <div class="gb-list2-detail">
                        <p>新挑战关卡-欺负钢铁泰迪。负钢铁泰迪。</p>
                    </div>
                </li>
                <li class="gb-list2-item">
                    <a href="#" class="gb-list2-con" target="_blank">
                        <b class="adorn"></b>
									<span class="gb-list2-c1">
										<img alt="" src="{str_replace('images/', 'img/', tplAssetsDir(IMG_PATH, 'hw'))}img-162-212.jpg" width="162" height="212" class="avatar" />
										<b class="mask"></b><i class="ico-video"><i class="ico-in"></i></i>
									</span>
                        <span class="gb-list2-c2"><span class="txt">anglebaby</span></span>
                    </a>
                    <div class="gb-list2-detail">
                        <p>新挑战关卡-欺负钢铁泰迪。负钢铁泰迪。</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div><!--end the area3-->
<div class="area area4">
    <div class="comm-pn pn-photo js-tab">
        <div class="comm-pn-hd">
            <i class="ico-tit ico-tit-photo"></i><h2 class="tit">美图</h2><h3 class="tit-sub">Photo</h3>
            <ul class="gb-tab comm-tab">
                <li class="gb-tab-item"><a href="javascript:;" class="gb-tab-c">高玩视频</a></li>
                <li class="gb-tab-item"><a href="javascript:;" class="gb-tab-c">教学视频</a></li>
                <li class="gb-tab-item"><a href="javascript:;" class="gb-tab-c">官方视频</a></li>
                <li class="gb-tab-item"><a href="javascript:;" class="gb-tab-c">赛事视频</a></li>
            </ul>
            <span class="more"><a href="#" target="_blank">更多<i class="ico-plus"></i></a></span>
        </div>
        <div class="comm-pn-bd gb-tab-pn">
            <div class="pn-hoto-con">
                <ul class="gb-list2 comm-plist comm-plist-ex2 col5">
                    <li class="gb-list2-item">
                        <a href="#" class="gb-list2-con" target="_blank">
										<span class="gb-list2-c1">
											<img alt="" src="{str_replace('images/', 'img/', tplAssetsDir(IMG_PATH, 'hw'))}img-180-135.jpg" width="180" height="135" class="avatar" />
										</span>
                            <span class="gb-list2-c2"><span class="txt">CF火线学堂第三期</span></span>
                        </a>
                    </li>
                    <li class="gb-list2-item">
                        <a href="#" class="gb-list2-con" target="_blank">
										<span class="gb-list2-c1">
											<img alt="" src="{str_replace('images/', 'img/', tplAssetsDir(IMG_PATH, 'hw'))}img-180-135.jpg" width="180" height="135" class="avatar" />
										</span>
                            <span class="gb-list2-c2"><span class="txt">CF火线学堂第三期</span></span>
                        </a>
                    </li>
                    <li class="gb-list2-item">
                        <a href="#" class="gb-list2-con" target="_blank">
										<span class="gb-list2-c1">
											<img alt="" src="{str_replace('images/', 'img/', tplAssetsDir(IMG_PATH, 'hw'))}img-180-135.jpg" width="180" height="135" class="avatar" />
										</span>
                            <span class="gb-list2-c2"><span class="txt">CF火线学堂第三期</span></span>
                        </a>
                    </li>
                    <li class="gb-list2-item">
                        <a href="#" class="gb-list2-con" target="_blank">
										<span class="gb-list2-c1">
											<img alt="" src="{str_replace('images/', 'img/', tplAssetsDir(IMG_PATH, 'hw'))}img-180-135.jpg" width="180" height="135" class="avatar" />
										</span>
                            <span class="gb-list2-c2"><span class="txt">CF火线学堂第三期</span></span>
                        </a>
                    </li>
                    <li class="gb-list2-item">
                        <a href="#" class="gb-list2-con" target="_blank">
										<span class="gb-list2-c1">
											<img alt="" src="{str_replace('images/', 'img/', tplAssetsDir(IMG_PATH, 'hw'))}img-180-135.jpg" width="180" height="135" class="avatar" />
										</span>
                            <span class="gb-list2-c2"><span class="txt">CF火线学堂第三期</span></span>
                        </a>
                    </li>
                    <li class="gb-list2-item">
                        <a href="#" class="gb-list2-con" target="_blank">
										<span class="gb-list2-c1">
											<img alt="" src="{str_replace('images/', 'img/', tplAssetsDir(IMG_PATH, 'hw'))}img-180-135.jpg" width="180" height="135" class="avatar" />
										</span>
                            <span class="gb-list2-c2"><span class="txt">CF火线学堂第三期</span></span>
                        </a>
                    </li>
                    <li class="gb-list2-item">
                        <a href="#" class="gb-list2-con" target="_blank">
										<span class="gb-list2-c1">
											<img alt="" src="{str_replace('images/', 'img/', tplAssetsDir(IMG_PATH, 'hw'))}img-180-135.jpg" width="180" height="135" class="avatar" />
										</span>
                            <span class="gb-list2-c2"><span class="txt">CF火线学堂第三期</span></span>
                        </a>
                    </li>
                    <li class="gb-list2-item">
                        <a href="#" class="gb-list2-con" target="_blank">
										<span class="gb-list2-c1">
											<img alt="" src="{str_replace('images/', 'img/', tplAssetsDir(IMG_PATH, 'hw'))}img-180-135.jpg" width="180" height="135" class="avatar" />
										</span>
                            <span class="gb-list2-c2"><span class="txt">CF火线学堂第三期</span></span>
                        </a>
                    </li>
                    <li class="gb-list2-item">
                        <a href="#" class="gb-list2-con" target="_blank">
										<span class="gb-list2-c1">
											<img alt="" src="{str_replace('images/', 'img/', tplAssetsDir(IMG_PATH, 'hw'))}img-180-135.jpg" width="180" height="135" class="avatar" />
										</span>
                            <span class="gb-list2-c2"><span class="txt">CF火线学堂第三期</span></span>
                        </a>
                    </li>
                    <li class="gb-list2-item">
                        <a href="#" class="gb-list2-con" target="_blank">
										<span class="gb-list2-c1">
											<img alt="" src="{str_replace('images/', 'img/', tplAssetsDir(IMG_PATH, 'hw'))}img-180-135.jpg" width="180" height="135" class="avatar" />
										</span>
                            <span class="gb-list2-c2"><span class="txt">CF火线学堂第三期</span></span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="pn-hoto-con">2222</div>
            <div class="pn-hoto-con">333</div>
            <div class="pn-hoto-con">4444</div>
        </div>
    </div>
</div><!--end the area4-->
<div class="pn-friends">
    <div class="pn-friends-hd"><h2 class="tit">友情链接</h2></div>
    <div class="pn-friends-bd">
        <ul class="list-friends">
            <li><a href="#" target="_blank">地下城与勇士</a></li>
            <li><a href="#" target="_blank">地下城与勇士</a></li>
            <li><a href="#" target="_blank">地下城与勇士</a></li>
            <li><a href="#" target="_blank">地下城与勇士</a></li>
            <li><a href="#" target="_blank">地下城与勇士</a></li>
            <li><a href="#" target="_blank">地下城与勇士</a></li>
            <li><a href="#" target="_blank">地下城与勇士</a></li>
            <li><a href="#" target="_blank">地下城与勇士</a></li>
            <li><a href="#" target="_blank">地下城与勇士</a></li>
            <li><a href="#" target="_blank">地下城与勇士</a></li>
            <li><a href="#" target="_blank">地下城与勇士</a></li>
            <li><a href="#" target="_blank">地下城与勇士</a></li>
            <li><a href="#" target="_blank">地下城与勇士</a></li>
            <li><a href="#" target="_blank">地下城与勇士</a></li>
            <li><a href="#" target="_blank">地下城与勇士</a></li>
            <li><a href="#" target="_blank">地下城与勇士</a></li>
        </ul>
    </div>
</div><!-- end the pn-friends -->
</div><!--end the content-->
{template "content","footer"}
<script type="text/javascript">
    $(function(){

        $(".js-rank").each(function(i) {
            $(this).find('li').each(function(j) {
                j = j + 1;
                $('em', $(this)).text(j);
            });
            $(this).find('li:eq(0)').addClass("top");
            $(this).find('li:eq(1)').addClass("top");
            $(this).find('li:eq(2)').addClass("top");
            $(this).find('li:last').addClass("border-none");
        });

        if($('.js-scroll').length>0){
            $(".js-scroll").each(function() {
                $(this).find('.scroll-box').scrollable({
                    items:$(this).find('.scroll-con'),
                    prev:$(this).find('.scroll-bt-prev'),
                    next:$(this).find('.scroll-bt-next')
                    //circular:'true'
                }).navigator({
                    navi:$(this).find('.navi')
                });
            });
        };

        if($('.js-hover').length>0){
            $(".js-hover li").hover(
                    function () {
                        $(this).addClass("hover");
                    },
                    function () {
                        $(this).removeClass("hover");
                    }
            );
        };

        if($('.js-last').length>0){
            $('.js-last').each(function() {
                $(this).find('li:last').addClass('last')
            });
        };

        if($('.pn-focus').length>0){
            $(".gb-tab:eq(0)", $(this)).tabs($(".gb-tab-pn:eq(0) > div", $(this)), {
                event:'mouseover',
                effect: 'fade',
                fadeOutSpeed:'300',
                rotate: true
            }).slideshow();
            $(".gb-tab:eq(0)", $(this)).data("slideshow").play();
        };

        if($('.js-tab').length>0){
            (function(){
                $(".js-tab").each(function() {
                    $(".gb-tab:eq(0)", $(this)).tabs($(".gb-tab-pn:eq(0) > div", $(this)), {
                        event: 'tabOn'
                    });
                });

                var st;
                $('.js-tab .gb-tab li').each(function(i, el) {
                    var $this = $(this);
                    $this.find('a').mouseenter(function(e) {
                        st = setTimeout(function(){
                            $this.find('a').trigger('tabOn');
                        }, 300);
                    }).mouseout(function(e) {
                        clearTimeout(st);
                    }).click(function(){
                        $this.find('a').trigger('tabOn');
                    });
                });
            })();
        };


    });
</script>
</body>
</html>