{template "content","header"}
<div class="content content-ex">
    <div class="subpage clearfix">
        <div class="subpage-c1">
            <div class="comm-pn pn-article-list">
                <div class="comm-pn-hd"><h2 class="tit">{$catname}</h2></div>
                <div class="comm-pn-bd js-tab1">
                    <div class="gb-tab-pn">
                        <div class="pn-article-list-con">
                            {pc:content action="lists" catid="$catid" num="10" order="id DESC" page="$page"}
                            <ul class="gb-list3 comm-ptlist1 comm-ptlist1-ex">
                            {loop $data $r}
                                <li class="gb-list3-item">
                                    <div class="gb-list3-c3">
                                        <h2 class="tit {$CATEGORYS[$r[catid]][catdir]}">{$CATEGORYS[$r[catid]][catname]}</h2>
                                        <span class="date">{date('Y-m-d',$r[inputtime])}</span>
                                    </div>
                                    <div class="gb-list3-c1"><a href="{$r[url]}"><img alt="" src="{$r[thumb]}" width="130" height="85" class="avatar" /></a></div>
                                    <div class="gb-list3-c2">
                                        <h3 class="tit"><a href="{$r[url]}">{$r[title]}</a></h3>
                                        <p class="txt">{trim($r[description])}...</p>
                                    </div>
                                </li>
                            {/loop}
                            </ul>
                            {/pc}
                        </div>
                    </div>
                    <div class="paging">
                        {$pages}
                    </div>
                </div>
            </div>
        </div>
        <div class="subpage-c2">
            {template "content","inc-sidebar"}
        </div>
    </div>
</div><!--end the content-->
{template "content","footer"}
<script type="text/javascript" src="{tplAssetsDir(JS_PATH, 'hw')}design.js"></script>
</body>
</html>