{template "content","header"}
<div class="content content-ex">
    <div class="subpage subpage-video-list">
        {template "content","inc-hotpics"}
        <!-- loop of categories -->
        {pc:content action="lists" num="8" catid="$catid" order="listorder ASC,id DESC" return="records"}
            {if $records}
        <div class="comm-pn2 comm-pn2-ex">
            <div class="comm-pn2-hd">
                <i class="ico-adorn"></i>
                <h2 class="tit">{$catname}</h2>
                <!--<span class="more"><a href="{$cr[url]}" target="_blank">更多<i class="ico-plus"></i></a></span>-->
            </div>
            <div class="comm-pn2-bd">
                <ul class="gb-list2 comm-plist col4">
                    {loop $records $r}
                    <li class="gb-list2-item">
                        <a href="{$r[url]}" class="gb-list2-con">
                                            <span class="gb-list2-c1">
                                                <img alt="{$r[title]}" src="{$r[thumb]}" width="227" height="170" class="avatar" />
                                            </span>
                            <span class="gb-list2-c2"><span class="txt">{$r[title]}</span></span>
                        </a>
                    </li>
                    {/loop}
                </ul>
            </div>
        </div>
            {/if}
        {/pc}
        <!-- ~end loop of categories -->
    </div>
</div><!--end the content-->
{template "content","footer"}
<script type="text/javascript" src="{tplAssetsDir(JS_PATH, 'hw')}design.js"></script>
</body>
</html>