{template "content","header"}
<div class="content content-ex">
    <div class="subpage clearfix subpage-video-con">
        <div class="pn-article pn-article-video">
            <div class="pn-article-hd">
                <h1 class="tit">{$title}</h1>
                <div class="box-info">
                    <span class="author"><a href="javascript:;" target="_blank">{$username}</a></span>
                    <span class="date">{$inputtime}</span>
                </div>
            </div>
            <div class="pn-article-bd">
                <div class="mod-guide">
                    <p>{$description}</p>
                </div>
                <div class="pn-article-con">
                    <div class="pn-flash">
                        {html_entity_decode($video_script)}
                    </div>
                    {$content}
                </div>

            </div>
        </div>
        {template "content","inc-hotvideos"}
        <div class="area area-video-con clearfix">
            <div class="area-c1">
                {if $allow_comment}
                    {template "comment","cy"}
                {/if}
            </div>
            <div class="area-c2">
                {template "content","inc-exclusive-recmd"}
            </div>
        </div>
    </div>
</div><!--end the content-->
{template "content","footer"}
<script type="text/javascript" src="{tplAssetsDir(JS_PATH, 'hw')}design.js"></script>
</body>
</html>