{template "content","header"}
<div class="content content-ex">
	<div class="subpage clearfix">
		<div class="subpage-c1">
			<div class="box-recomm"><img src="{str_replace('images/', 'img/', tplAssetsDir(IMG_PATH, 'hw'))}img-700-400.jpg" alt="" width="700" height="400" /></div>
			<div class="pn-article">
				<div class="pn-article-hd">
					<h1 class="tit">{$title}</h1>
					<div class="box-info">
						<span class="author"><a href="javascript:;">{$username}</a></span>
						<span class="date">{$inputtime}</span>
					</div>
				</div>
				<div class="pn-article-bd">
					<div class="mod-guide">
						<p>{$description}</p>
					</div>
					<div class="pn-article-con">
						{$content}
					</div>

				</div>
			</div>
			{if $allow_comment}
				{template "comment","cy"}
			{/if}
		</div>
		<div class="subpage-c2">
			{template "content","inc-sidebar"}
		</div>
	</div>
</div><!--end the content-->
{template "content","footer"}
<script type="text/javascript" src="{tplAssetsDir(JS_PATH, 'hw')}design.js"></script>
</body>
</html>