{template "content","header"}
<div class="content content-ex">
<div class="subpage clearfix subpage-video-con">
<div class="pn-article pn-article-video">
    <div class="pn-article-hd">
        <h1 class="tit">{$title}</h1>
        <div class="box-info">
            <span class="author"><a href="javascript:;" target="_blank">{$username}</a></span>
            <span class="date">{$inputtime}</span>
        </div>
    </div>
    <div class="pn-article-bd">
        <div class="mod-guide">
            <p>{$description}</p>
        </div>
        <div class="pn-article-con">
            <div id="gallery" class="gb-gallery">
                <div data-role="data-list">
                    {loop $pictureurls $pic_k $r}
                    <a href="{$r[url]}" target="_blank">
                        <img src="http://ue.17173cdn.com/a/lib/pandora/gallery/1.0.0/s.gif"
                             alt="{$r[alt]}"
                             data-src="{$r[url]}"
                             data-thumb="{$r[url]}"
                             data-big="{$r[url]}">
                    </a>
                    {/loop}
                </div>
                <script type="text/javascript" src="{tplAssetsDir(JS_PATH, 'hw')}pandora.js"></script>
                <script type="text/javascript">
                    pandora.use(['$', 'gallery'], function($, Gallery) {
                        new Gallery({
                            element: '#gallery',
                            thumbnails: true
                        });
                    });
                </script>
            </div>
            {$content}
        </div>
    </div>
</div>
<div class="comm-pn2 comm-pn2-ex">
    <div class="comm-pn2-hd">
        <i class="ico-adorn"></i>
        <h2 class="tit">热门图片</h2>
        <span class="more"><a href="#" target="_blank">更多<i class="ico-plus"></i></a></span>
    </div>
    <div class="comm-pn2-bd">
        <ul class="gb-list2 comm-plist col4">
            <li class="gb-list2-item">
                <a href="#" class="gb-list2-con" target="_blank">
										<span class="gb-list2-c1">
											<img alt="" src="img/img-227-170.jpg" width="227" height="170" class="avatar" />

										</span>
                    <span class="gb-list2-c2"><span class="txt">凉水解说：救世主神级游击抢肉</span></span>
                </a>
            </li>
            <li class="gb-list2-item">
                <a href="#" class="gb-list2-con" target="_blank">
										<span class="gb-list2-c1">
											<img alt="" src="img/img-227-170.jpg" width="227" height="170" class="avatar" />

										</span>
                    <span class="gb-list2-c2"><span class="txt">凉水解说：救世主神级游击抢肉</span></span>
                </a>
            </li>
            <li class="gb-list2-item">
                <a href="#" class="gb-list2-con" target="_blank">
										<span class="gb-list2-c1">
											<img alt="" src="img/img-227-170.jpg" width="227" height="170" class="avatar" />

										</span>
                    <span class="gb-list2-c2"><span class="txt">凉水解说：救世主神级游击抢肉</span></span>
                </a>
            </li>
            <li class="gb-list2-item">
                <a href="#" class="gb-list2-con" target="_blank">
										<span class="gb-list2-c1">
											<img alt="" src="img/img-227-170.jpg" width="227" height="170" class="avatar" />

										</span>
                    <span class="gb-list2-c2"><span class="txt">凉水解说：救世主神级游击抢肉</span></span>
                </a>
            </li>
            <li class="gb-list2-item">
                <a href="#" class="gb-list2-con" target="_blank">
										<span class="gb-list2-c1">
											<img alt="" src="img/img-227-170.jpg" width="227" height="170" class="avatar" />

										</span>
                    <span class="gb-list2-c2"><span class="txt">凉水解说：救世主神级游击抢肉</span></span>
                </a>
            </li>
            <li class="gb-list2-item">
                <a href="#" class="gb-list2-con" target="_blank">
										<span class="gb-list2-c1">
											<img alt="" src="img/img-227-170.jpg" width="227" height="170" class="avatar" />

										</span>
                    <span class="gb-list2-c2"><span class="txt">凉水解说：救世主神级游击抢肉</span></span>
                </a>
            </li>
            <li class="gb-list2-item">
                <a href="#" class="gb-list2-con" target="_blank">
										<span class="gb-list2-c1">
											<img alt="" src="img/img-227-170.jpg" width="227" height="170" class="avatar" />

										</span>
                    <span class="gb-list2-c2"><span class="txt">凉水解说：救世主神级游击抢肉</span></span>
                </a>
            </li>
            <li class="gb-list2-item">
                <a href="#" class="gb-list2-con" target="_blank">
										<span class="gb-list2-c1">
											<img alt="" src="img/img-227-170.jpg" width="227" height="170" class="avatar" />
	
										</span>
                    <span class="gb-list2-c2"><span class="txt">凉水解说：救世主神级游击抢肉</span></span>
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="area area-video-con clearfix">
    <div class="area-c1">
        {if $allow_comment}
            {template "comment","cy"}
        {/if}
    </div>
    <div class="area-c2">
        <div class="comm-pn2 pn-side-recomm">
            <div class="comm-pn2-hd">
                <i class="ico-adorn"></i>
                <h2 class="tit">独家推荐</h2>
                <span class="more"><a href="#" target="_blank">更多<i class="ico-plus"></i></a></span>
            </div>
            <div class="comm-pn2-bd">
                <ul class="gb-list2 comm-plist comm-plist-ex3">
                    <li class="gb-list2-item">
                        <a href="#" class="gb-list2-con" target="_blank">
												<span class="gb-list2-c1">
													<img alt="" src="img/img-270-150.jpg" width="270" height="150" class="avatar" />
												</span>
                            <span class="gb-list2-c3"><span class="txt">CF百城联赛外卡赛月结</span><b class="mask"></b></span>
                        </a>
                    </li>
                    <li class="gb-list2-item">
                        <a href="#" class="gb-list2-con" target="_blank">
												<span class="gb-list2-c1">
													<img alt="" src="img/img-270-150.jpg" width="270" height="150" class="avatar" />
												</span>
                            <span class="gb-list2-c3"><span class="txt">CF百城联赛外卡赛月结</span><b class="mask"></b></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>
</div><!--end the content-->
{template "content","footer"}
<script type="text/javascript" src="{tplAssetsDir(JS_PATH, 'hw')}design.js"></script>
</body>
</html>