{template "content","header"}
<div class="content content-ex">
<div class="subpage clearfix subpage-video-con">
<div class="pn-article pn-article-video">
    <div class="pn-article-hd">
        <h1 class="tit">{$title}</h1>
        <div class="box-info">
            <span class="author"><a href="javascript:;" target="_blank">{$username}</a></span>
            <span class="date">{$inputtime}</span>
        </div>
    </div>
    <div class="pn-article-bd">
        <div class="mod-guide">
            <p>{$description}</p>
        </div>
        <div class="pn-article-con">
            <div id="gallery" class="gb-gallery">
                <div data-role="data-list">
                    {loop $pictureurls $pic_k $r}
                    <a href="{$r[url]}" target="_blank">
                        <img src="http://ue.17173cdn.com/a/lib/pandora/gallery/1.0.0/s.gif"
                             alt="{$r[alt]}"
                             data-src="{$r[url]}"
                             data-thumb="{$r[url]}"
                             data-big="{$r[url]}">
                    </a>
                    {/loop}
                </div>
                <script type="text/javascript" src="{tplAssetsDir(JS_PATH, 'hw')}pandora.js"></script>
                <script type="text/javascript">
                    pandora.use(['$', 'gallery'], function($, Gallery) {
                        new Gallery({
                            element: '#gallery',
                            thumbnails: true
                        });
                    });
                </script>
            </div>
            {$content}
        </div>
    </div>
</div>
    {template "content","inc-hotpics"}
<div class="area area-video-con clearfix">
    <div class="area-c1">
        {if $allow_comment}
            {template "comment","cy"}
        {/if}
    </div>
    <div class="area-c2">
        {template "content","inc-exclusive-recmd"}
    </div>
</div>
</div>
</div><!--end the content-->
{template "content","footer"}
<script type="text/javascript" src="{tplAssetsDir(JS_PATH, 'hw')}design.js"></script>
</body>
</html>